// Font Family
$rubik: 'Rubik', sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$grey:#f7f7fd;


// Theme Colors 
$theme-color: #00b9f1;


// Body Colors
$body-color: #777;


// Border Colors
$border-color:#dddddd;


// Heading Color
$heading-color: #222;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1400px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


